.login{
    width: 100%;
    height: auto;
    //padding: rem(20) 30%;
    //margin: rem(90) rem(50) rem(20) rem(50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
        width: 100%;
        height: auto;
        padding: rem(20);
    }

    &__image {
        width: 100%;
        height: rem(318);
        border-radius: rem(5);
        justify-content: center;
        align-content: center;
        background-position: center;
        object-fit: cover;
        display: none;

        @include medium {
            display: block;
        } 

        @include large {
            display: block;
        }
    }

    &__label {
        color: white;
    }

    &__errorMsg {
        margin: rem(250) 0 0 rem(140);
        //position: fixed;
        color: white;
        font-weight: bold;
        width: 100%;
        text-wrap: wrap;

        // -webkit-text-stroke: 1px red;
        // text-stroke: 1px red;

        @include small {
            margin: rem(250) 0 0 rem(240);
        }

        @include medium {
            margin: rem(250) 0 0 rem(240);
        } 

        @include large {
            margin: rem(250) 0 0 rem(240);
        }
    }
}

#btn {
    width: 100%;
    background-color: $text-highlight;
    border-color: $text-highlight;
    border-width: rem(1);
    transition: background-color 0.3s ease;
  }
  
#btn:hover {
    background-color: darken($text-highlight, 5%); // Oscurece el color en un 10%
}