$primary-color: #004E64; //Branding
$secondary-color: #362023;  //Secondary buttons or titles
$tertiary-color: #8F857D; // Text, contrast

$background-color: #F7F0F5;
$secondary-background-color: #DECBB7; 

$text-highlight: #D30C7B;