.orderDetails{
    margin: rem(80) 0 0 0;
    padding: rem(30) rem(50);
    height: 100%;
    overflow: scroll;

    &__container{
        padding: rem(50);
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__products{
        width: 70%;
        margin: auto;
        margin-top: rem(25);
    }

    &_spinner{
        margin: rem(80) 0 0 0;
        padding: rem(30) rem(50);
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}