.login{
    width: 100%;
    height: 100%;
    //padding: rem(20) 30%;
    justify-content: center;
    align-content: center;

    &__form {
        margin: rem(20) 30%;
    }

    &__errorMsg {
        margin: rem(10) 0;
        position: fixed;
        color: red;
        width: calc(40%);
        text-align: end;
    }
}

#btn {
    background-color: $text-highlight;
    border-color: $text-highlight;
    border-width: rem(1);
    transition: background-color 0.3s ease;
  }
  
#btn:hover {
    background-color: darken($text-highlight, 5%); // Oscurece el color en un 10%
}