.cartProduct {
    display: flex;
    gap: rem(40);
    padding: rem(15) rem(40) rem(15) rem(15);
    height: rem(400);
    overflow: hidden;
    background-color: white;
    border: rem(1) $secondary-background-color solid;
    border-radius: rem(5);


    &__img {
        min-width: 40%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(5);
    }

    &__infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__shoppingInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__container{
            display: flex;
            gap: rem(15)
        }
    }
}

#productName {
    font-size: rem(25);
    font-weight: bold;
}