.cartProduct {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    padding: rem(15) rem(40) rem(15) rem(15);
    height: rem(400);
    overflow: hidden;
    background-color: white;
    border: rem(1) $secondary-background-color solid;
    border-radius: rem(5);

    &__container{
        height: calc(100% - rem(50));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__img {
        min-width: 40%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(5);

        @include small {
            max-width: 100%;
        }
    
        @include medium {
            max-width: 40%;
        }
    
        @include large {
            max-width: 40%;
        }
    }

    &__infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__shoppingInfo {
        display: flex;
        flex-direction: column;

        &__container{
            display: flex;
            gap: rem(15);
            justify-content:center;

            @include medium {
                justify-content: space-between;
            }
        
            @include large {
                justify-content: space-between;
            }
        }

        &__price {
            margin: 0 0 rem(20) 0;

            @include medium {
                margin: 0 0 rem(20) 0;
            }
        
            @include large {
                margin: 0;
            }
        }

        @include medium {
            flex-direction: column;
            justify-content:left;
        }
    
        @include large {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @include small {
        flex-direction: row;
        padding: rem(15);
    }

    @include medium {
        flex-direction: row;
    }

    @include large {
        flex-direction: row;
    }
}

#productName {
    font-size: rem(25);
    font-weight: bold;
}

#cartProduct__img {
    min-width: 40%;
    min-height: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: rem(5);

    @include small {
        max-width: 100%;
    }

    @include medium {
        max-width: 100%;
    }

    @include large {
        max-width: 100%;
    }
}