.cart {
    margin-top: rem(70);
    padding: rem(50);
    background-color: $background-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(35);
    overflow: scroll;

    &__productList {
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }

    &__summary {
        
        &__total {
            font-size: rem(25);
            font-weight: bold;
        }

        &__checkout {
            text-decoration: none;
            color: white;
        }
    }

    @include medium {
        display: flex;
        flex-direction: column;
    }

    @include large {
        display: grid;
        grid-template-columns: 3fr 0.01fr 1fr;
    }
}

#vline {
    border-top: solid rem(1) $secondary-background-color;
    margin-top: rem(35);

    @include medium {
        margin-top: rem(35);
        border-top: solid rem(1) $secondary-background-color;
    }

    @include large {
        margin-top: 0;
        border-top: none;
        border-left: solid rem(1) $secondary-background-color;
    }
}

#checkout {
    background-color: $text-highlight;
    border-color: $text-highlight;
}

#checkout:hover {
    background-color: darken($text-highlight, 5%);
}