.cart {
    margin-top: rem(70);
    padding: rem(50);
    background-color: $background-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(35);
    overflow: scroll;

    &__productList {
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }

    &__summary {
        height: 100%;
        position: sticky;
        margin: 0 0 0 0;
        height: 100%;
        border-top: rem(1) solid $secondary-background-color;
        padding: rem(25) 0;

        @include medium {
            margin: rem(25) 0 0 0;
            border-top: rem(1) solid $secondary-background-color;
        }
    
        @include large {
            margin: 0 0 0 72%;
            padding: 0 rem(25);
            border-top: none;
            border-left: rem(1) solid $secondary-background-color;
            position: fixed;
        }

        &__total {
            font-size: rem(25);
            font-weight: bold;
        }

        &__checkout {
            text-decoration: none;
            color: white;
        }
    }

    @include medium {
        display: flex;
        flex-direction: column;
    }

    @include large {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}

#checkout {
    background-color: $text-highlight;
    border-color: $text-highlight;
}

#checkout:hover {
    background-color: darken($text-highlight, 5%);
}