.checkout {
    background-color: $background-color;
    padding: rem(50) rem(50);
    margin: rem(70) 0 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &__forms {
        display: flex;
        flex-direction: column;
        gap: rem(20);
    }

    &__noProducts {
        background-color: $background-color;
        padding: rem(50) rem(50);
        margin: rem(70) 0 0;
        display: flex;
        height: calc(100vh / 2);
    }

    &__summary {
        margin: rem(25) 0 0 0;
        height: 100%;
        border-top: rem(1) solid $secondary-background-color;
        padding: rem(25) 0;

        @include medium {
            margin: rem(25) 0 0 0;
            border-top: rem(1) solid $secondary-background-color;
        }
    
        @include large {
            margin: 0 0 0 72%;
            padding: 0 rem(25);
            border-top: none;
            border-left: rem(1) solid $secondary-background-color;
            position: fixed;
        }

        &__total {
            margin: rem(30) 0;
            width: 100%;

            @include medium {
                margin: rem(30) 0;
            }
        
            @include large {
                margin: rem(15) 0;
            }

            &__value {
                margin: 0 0 rem(5) 0;
                width: auto;
                text-align: end;
            }

            &__total {
                border-top: rem(4) $secondary-background-color solid;
                margin: 0 0 rem(5) 0;
                width: auto;
                text-align: end;
                font-weight: bold;
            }

            &__line {
                height: rem(20);
                margin: rem(5);
                text-align: end;
            }
        }
    }

    &__creditCard{
        @include small {
            margin: 0;
            display: none;
        }
    }

    &__details {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__list {
            width: 100%;
            background-color: rgba($secondary-background-color, 30%);
            border: rem(1) $secondary-background-color solid;
            border-radius: rem(5);
            margin: rem(20) rem(50) 0 0;
            padding: rem(16) rem(20);

            &__title {
                font-size: rem(25);
                font-weight: bold;
            }

            @include medium {
                width: 100%;
            }
        
            @include large {
                width: calc(100% - rem(50));
            }
        }
    }

    &--justify{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__products{
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }

    @include medium {
        display: flex;
        flex-direction: column;
    }

    @include large {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}